/Backend/node_modules
/Frontend/node_modules
/Backend/.env
/.vscode
/think.tldr
/ER diagram.mwb
/ER diagram.mwb.bak
/assignment script.sql
/caart script.sql
/course details.csv
/courses script.sql
/generated_courses_data.csv